@import "utilities.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button {
    width: 80px;
    height: 80px;
    border: rgba(red, 0.9) solid 4px;
    border-radius: 40px;
    background: red;
    color: white;
    font-weight: bold;
    z-index: 99;

    position: fixed;
    bottom: 60px;
  }
  .image {
    max-height: 480px;
  }
}

.hide {
  display: none;
}
