@import url("https://fonts.googleapis.com/css?family=Sunflower:300,500,700");

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(90deg, #36d7b7, #2b303b);
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Sunflower", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
